.side-bar
  .side-bar__user-name
    .top-items
      %p.top-items__name 
        = current_user.name
      .top-items__icons 
        = link_to new_group_path(current_user),class:"link" do
          %i.far.fa-edit.my-color
        = link_to edit_user_path(current_user),class:"link" do
          %i.fas.fa-cog.my-color
  .side-bar__group-list
    .list
      .list__name
        ik
      .list__message
        まだメッセージがありません
    .list
      .list__name
        ik
      .list__message
        まだメッセージがありません